.content {
  position: relative;
}

.columns {
  display: grid;
  grid-template-columns: 1fr 380px;
  gap: 40px;
  margin-bottom: 40px;
}

.columnMain {
  animation: fadeIn 1s ease-out 0.3s backwards;
}

.columnSidebar {
  animation: fadeIn 1s ease-out 0.5s backwards;
}

@keyframes fadeIn {
  from {
    transform: translateY(8px);
  }
  to {
    transform: translateY(0);
  }
}

@media (max-width: 900px) {
  .columns {
    grid-template-columns: 1fr;
  }
}
